<html>
    <head>
        <title>Jackson's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="Django Jackson's Blog"></a></h1>
        </div>
        <div>
            <p>Published: 20.07.2018, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <P>Hola a todos este es mi primer post en Django, estoy pensando en terminar la pagina completa para así utilizarla para mis proximos proyectos.</P>
        </div>
        
        <div>
            <p>Published: 20.07.2018</p>
            <h2><a href="">My second post</a></h2>
            <p>Hola a todos de nuevo. Estoy supercontento mientras estoy creando esta nueva aplicación. No he podido dormir bien por la emocion.XD</p>
        </div>

    </body>
    
</html>